.DS_Store
node_modules
/dist
/docs
/src
/example
/packages
/jddj-docs

.eslintrc.js
vue.config.js
babel.config.js
package-lock.json
.gitignore
.npmignore

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
